@media only screen and (min-width: 1201px) {
    .row {
        padding: 0 2%;
    }

    .ktrngn {
        margin-right: 50px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1024px) {
    .row {
        padding: 0 4%;
    }

    .detail-map {
        padding-left: 150px;
    }

    .ktrngn {
        margin-right: 20px;
        margin-left: -50px;
    }

    footer div {
        padding: 0;
        margin: 0 auto;
    }

    .footer-row {
        width: max-content;
        padding: 0;
    }

    .footer-row ul li {
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    body {
        font-size: 16px;
    }
    
    .logo {
        display: none;
    }

    .main-nav li {
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        margin-left: 14px;
        margin-right: 15px;
    }

    .hero-text-box {
        width: max-content;
        margin-left: -60px;
        margin-top: -70px;
    }

    h1 {
        font-size: 100px;
        margin: 0 auto;
    }
    
    .row {
        padding: 0 8%;
    }

    .sentuh-row p {
        font-size: 14px;
        width: 600px;
    }

    .map-detail {
        transform: scale(0.7);
        margin-top: -150px;
    }

    .ktrngn {
        margin-right: 30px;
    }

    .detail-map {
        padding-left: 250px;
    }

    .detail-tulisan {
        margin-left: -430px;
        margin-top: 450px;
    }

    footer div {
        padding: 0;
        margin: 0 auto;
    }

    .footer-row {
        width: max-content;
        padding: 0;
    }

    .footer-row ul li {
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
    body {
        font-size: 17px;
    }

    .col {
        width: 100%;
    }
    
    .logo {
        display: none;
    }

    .main-nav {
        margin-right: 130px;
    }

    .main-nav li {
        font-size: 20px;
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    .hero-text-box {
        width: max-content;
        margin-left: -50px;
        margin-top: -30px;
    }

    h1 {
        font-size: 60px;
        margin: 0 auto;
    }
    
    .row {
        padding: 0 2%;
    }

    .sentuh-row p {
        font-size: 14px;
        width: 410px;
    }

    .map-detail {
        transform: scale(0.7);
        margin-top: -150px;
    }

    .ktrngn {
        margin: 0 auto;
        display: inline-block;
        text-align: center;
    }

    .detail-map {
        display: none
    }

    .detail-tulisan {
        margin-top: 50px;
    }

    footer {
        height: 250px;
    }

    footer div {
        padding: 0;
        margin: 0 auto;
    }

    .footer-row {
        width: max-content;
        padding: 0;
    }

    .footer-nav::after {
        width: 410px;
    }

    .footer-row ul li {
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .col {
        width: 100%;
    }
    
    .logo {
        display: none;
    }

    .main-nav {
        margin-right: 100px;
    }

    .main-nav li {
        font-size: 20px;
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    .hero-text-box {
        width: max-content;
        margin-left: -30px;
        margin-top: -30px;
    }

    h1 {
        font-size: 50px;
        margin: 0 auto;
    }
    
    .row {
        padding: 0 2%;
    }

    .sentuh-row h2 {
        font-size: 30px;
    }

    .sentuh-row p {
        font-size: 13px;
        width: 350px;
        line-height: 20px;
    }

    .map-detail {
        transform: scale(0.7);
        margin-top: -150px;
    }

    .ktrngn p,
    .ktrngn h3 {
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    .ktrngn h3 {
        font-size: 35px;
    }

    .ktrngn p {
        font-size: 25px;
    }

    .detail-map {
        display: none
    }

    .detail-tulisan {
        margin-top: 100px;
    }

    .mapNih {
        width: 397px;
    }

    .footer-row {
        padding: 0;
        width: 250px;
    }

    .footer-nav {
        margin-top: 30px;
        display: inline-block;
        font-size: 18px;
    }

    .footer-nav li {
        margin: 0;
        margin-bottom: 10px;
        display: block;
    }

    .footer-nav::after {
        width: 250px;
    }

    footer {
        height: 280px;
    }
}

@media screen and (max-width: 375px) {
    body {
        font-size: 14px;
    }

    .col {
        width: 100%;
    }

    .header-row ul {
        margin: 0 auto;
        text-align: center;
        margin-right: 80px;
        margin-top: 40px;
    }
    
    .logo {
        display: none;
    }

    .main-nav {
        margin-right: 100px;
    }

    .main-nav li {
        font-size: 20px;
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    .hero-text-box {
        width: max-content;
        margin-left: -30px;
        margin-top: -30px;
    }

    h1 {
        font-size: 50px;
        margin: 0 auto;
    }
    
    .row {
        padding: 0 2%;
    }

    .sentuh-row h2 {
        font-size: 30px;
    }

    .sentuh-row p {
        font-size: 13px;
        width: 350px;
        line-height: 20px;
    }

    .map-detail {
        transform: scale(0.7);
        margin-top: -150px;
    }

    .ktrngn p,
    .ktrngn h3 {
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    .ktrngn h3 {
        font-size: 35px;
    }

    .ktrngn p {
        font-size: 25px;
    }

    .detail-map {
        display: none
    }

    .detail-tulisan {
        margin-top: 100px;
    }

    .mapNih {
        width: 397px;
        margin-left: -20px;
    }

    .footer-row {
        padding: 0;
        width: 250px;
    }

    .footer-nav {
        margin-top: 30px;
        display: inline-block;
        font-size: 18px;
    }

    .footer-nav li {
        margin: 0;
        margin-bottom: 10px;
        display: block;
    }

    .footer-nav::after {
        width: 250px;
    }

    footer {
        height: 280px;
    }
}

@media screen and (max-width: 320px) {
    body {
        font-size: 14px;
    }

    .col {
        width: 100%;
    }

    .header-row ul {
        margin: 0 auto;
        text-align: center;
        margin-right: 60px;
        margin-top: 40px;
    }
    
    .logo {
        display: none;
    }

    .main-nav {
        margin-right: 100px;
    }

    .main-nav li {
        font-size: 20px;
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    .hero-text-box {
        width: max-content;
        margin-left: -30px;
        margin-top: -30px;
    }

    h1 {
        font-size: 45px;
        margin: 0 auto;
    }
    
    .row {
        padding: 0 2%;
    }

    .sentuh-row h2 {
        font-size: 30px;
    }

    .sentuh-row p {
        font-size: 13px;
        width: 290px;
        line-height: 20px;
        margin-bottom: 50px;
    }

    .map-detail {
        transform: scale(0.7);
        margin-top: -130px;
    }

    .ktrngn {
        margin: 0 auto;
        width: 400px;
        margin-left: -50px;
        margin-top: 50px;
    }

    .ktrngn p,
    .ktrngn h3 {
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    .ktrngn h3 {
        font-size: 35px;
    }

    .ktrngn p {
        font-size: 25px;
    }

    .detailMap {
        margin-left: -30px;
    }

    .detail-map {
        display: none
    }

    .detail-tulisan {
        margin-top: 0px;
        width: 300px;
    }

    .detail-tulisan figure {
        width: 300px;
    }

    .mapNih {
        width: 397px;
        margin-left: -40px;
    }

    .footer-row {
        padding: 0;
        width: 250px;
    }

    .footer-nav {
        margin-top: 30px;
        display: inline-block;
        font-size: 18px;
    }

    .footer-nav li {
        margin: 0;
        margin-bottom: 10px;
        display: block;
    }

    .footer-nav::after {
        width: 250px;
    }

    footer {
        height: 280px;
    }
}

@media screen and (max-width: 280px) {
    body {
        font-size: 14px;
    }

    .col {
        width: 100%;
    }

    .header-row ul {
        margin: 0 auto;
        text-align: center;
        margin-right: 40px;
        margin-top: 40px;
    }
    
    .logo {
        display: none;
    }

    .main-nav {
        margin-right: 100px;
    }

    .main-nav li {
        font-size: 20px;
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    .hero-text-box {
        width: max-content;
        margin-left: -30px;
        margin-top: -30px;
    }

    h1 {
        font-size: 40px;
        margin: 0 auto;
    }
    
    .row {
        padding: 0 2%;
    }

    .sentuh-row h2 {
        font-size: 30px;
    }

    .sentuh-row p {
        font-size: 13px;
        width: 240px;
        line-height: 20px;
        margin-bottom: 50px;
    }

    .map-detail {
        transform: scale(0.6);
        margin-top: -150px;
    }

    .ktrngn {
        margin: 0 auto;
        width: 400px;
        margin-left: -60px;
        margin-top: 50px;
    }

    .ktrngn p,
    .ktrngn h3 {
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    .ktrngn h3 {
        font-size: 35px;
    }

    .ktrngn p {
        font-size: 25px;
    }

    .detailMap {
        margin-left: -30px;
    }

    .detail-map {
        display: none
    }

    .detail-tulisan {
        margin-top: 0px;
        width: 300px;
    }

    .detail-tulisan figure {
        width: 300px;
    }

    .mapNih {
        width: 397px;
        margin-left: -60px;
    }

    .footer-row {
        padding: 0;
        width: 250px;
    }

    .footer-nav {
        margin-top: 30px;
        display: inline-block;
        font-size: 18px;
    }

    .footer-nav li {
        margin: 0;
        margin-bottom: 10px;
        display: block;
    }

    .footer-nav::after {
        width: 250px;
    }

    footer {
        height: 280px;
    }

    .footer-credit p {
        font-size: 12px;
    }
}