@media only screen and (max-width: 1200px) { 
    
    h1 {
        font-size: 350%;
    }

    .row {
        padding: 0 2%;
    }
}

@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
    
    .row {
        padding: 0 2%;
    }

    .header-kotak h1 {
        text-align: center;
    }

    .tentang-1,
    .tentang-2 {
        width: 330px;
        font-size: 20px;
    }

    .image-h {
        width: 360px;
    }

    .image-p {
        display: none;
    }

    .photo-kotak {
        margin: 0;
    }

    .hijau {
        width: 600px;
    }

    .hijau-tipis {
        display: none;
    }

    .kuning {
        margin-left: 500px;
    }

    .slide-container {
        margin: 0 auto;
        margin-left: 100px;
        margin-top: 200px;
    }

    .section-detail {
        margin-top: 850px;
    }

    .detail-tentang {
        margin-top: 0;
        padding-left: 60px;
    }
}

@media only screen and (max-width: 767px) {
    section {
        padding: 25px 0;
    }

    .col {
        width: 100%;
        margin: 0 2%;
    }

    .logo,
    .image-h {
        display: none;
    }

    .main-nav li {
        font-size: 200%;
        margin-bottom: 10px;
    }

    .tentang-1,
    .tentang-2 {
        margin: 0 auto;
        font-size: 18px;
        width: 400px;
    }

    .hijau {
        margin: 0;
        height: 300px;
    }

    .kuning {
        display: none;
    }

    .slide-container {
        margin: 0 auto;
        width: 400px;
        margin-left: 41px;
        margin-top: 17px;
    }

    .section-detail {
        margin-top: 350px;
    }

    .detail-tentang {
        width: 450px;
        padding-left: 41px;
    }
    
    .detail-tentang p {
        width: 400px;
    }

    footer {
        margin-top: 20px;
    }

    .footer-nav::after {
        width: 400px;
    }

    .footer-nav li {
        font-size: 20px;
        margin-bottom: 5px;
        margin-right: 15px;
        margin-left: 14px;
    }

    .footer-row {
        width: 400px;
        padding: 0;
    }
}

@media only screen and (max-width: 480px) {
    section {
        padding: 25px 0;
    }

    .row {
        width: 100%;
        padding: 0 6%;
    }

    body {
        font-size: 16px;
    }

    .tentang-1,
    .tentang-2 {
        width: 316.8px;
    }

    .hijau {
        height: 250px;
    }

    .slide-container {
        margin: 0 auto;
        width: 320px;
        margin-left: 40px;
        margin-top: 18px;
    }

    .section-detail {
        margin-top: 250px;
    }

    .detail-tentang {
        width: 316.8px;
        padding: 0 15px;
        margin: 0 auto;
        padding-left: 55px;
    }

    .detail-tentang p {
        width: 316.8px;
        margin-left: -30px;
    }

    .footer-row {
        padding: 0;
        width: 250px;
    }

    .footer-nav {
        margin-top: 30px;
    }

    .footer-nav li {
        margin-bottom: 10px;
    }

    .footer-nav::after {
        width: 250px;
    }

    footer {
        height: 250px;
    }
}