@media screen and (max-width: 2560px) {
    body {
        font-size: 25px;
    }
    
    .header-row {
        max-width: 2500px;
        padding: 0 4%;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
    }

    .header-row a img {
        margin: 0 auto;
        height: 120px;
        margin-top: 70px;
    }

    .header-row ul {
        font-size: 25px;
        margin: 0 auto;
        margin-left: 650px;
        margin-top: -130px;
    }

    .fotoSatu,
    .fotoTiga,
    .fotoLima {
        height: 575px;
    }
    
    .fotoEmpat {
        height: 860px;
    }

    .fotoLima {
        height: 860px;
    }

    .fotoEnam {
        height: 1132px;
        margin-top: 20px;
    }

    .fotoDua {
        display: none;
    }

    .tulisanSatu,
    .tulisanDua,
    .tulisanTiga {
        font-size: 23.5px;
    }

    .tulisanDua {
        margin-top: 70px;
    }

    .tulisanSatu {
        margin-top: 140px;
    }

    .tulisanTiga {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 1919px) {
    body {
        font-size: 20px;
    }

    .header-row {
        padding: 0 4%;
    }

    .fotoSatu,
    .fotoDua,
    .fotoTiga {
        height: 303px;
    }
    
    .fotoEmpat {
        height: 450px;
    }
    
    .fotoLima {
        height: 447px;
    }
    
    .fotoEnam {
        margin: 0;
        height: 600px;
        margin-left: 100px;
        margin-right: 82px;
    }

    .tulisanSatu,
    .tulisanDua,
    .tulisanTiga {
        font-size: 15px;
        margin: 0;
        justify-content: center;
        text-align: justify;
        margin: 10px 30px
    }

    .tulisanSatu {
        margin-top: 60px;
    }

    .tulisanDua {
        margin-top: 20px;
    }

    .tulisanTiga {
        font-size: 15px;
        margin: 7px 30px;
        padding: 0 4%;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 1440px) {
    body {
        font-size: 20px;
    }

    .header-row {
        padding: 0 4%;
    }

    .header-row ul {
        margin-left: 140px;
    }

    .fotoSatu,
    .fotoDua,
    .fotoTiga {
        height: 324px;
    }
    
    .fotoEmpat {
        height: 480px;
    }
    
    .fotoLima {
        height: 480px;
    }
    
    .fotoEnam {
        margin: 0;
        height: 620px;
        margin-left: 105px;
        margin-right: 105px;
        margin-top: 40px;
    }

    .tulisanSatu,
    .tulisanDua,
    .tulisanTiga {
        font-size: 19px;
        margin: 0;
        justify-content: center;
        text-align: justify;
        margin: 10px 30px
    }

    .tulisanSatu {
        margin-top: 100px;
    }

    .tulisanDua {
        margin-top: 60px;
    }

    .tulisanTiga {
        margin: 7px 30px;
        padding: 0 4%;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 1280px) {
    body {
        font-size: 20px;
    }

    .header-row {
        padding: 0 4%;
    }

    .header-row ul {
        margin-left: 80px;
    }

    .fotoSatu,
    .fotoDua,
    .fotoTiga {
        height: 288px;
    }
    
    .fotoEmpat {
        height: 425px;
    }
    
    .fotoLima {
        height: 425px;
    }
    
    .fotoEnam {
        margin: 0;
        height: 525px;
        margin-left: 105px;
        margin-right: 105px;
        margin-top: 40px;
    }

    .tulisanSatu,
    .tulisanDua,
    .tulisanTiga {
        font-size: 19px;
        margin: 0;
        justify-content: center;
        text-align: justify;
        margin: 10px 30px
    }

    .tulisanSatu {
        margin-top: 100px;
    }

    .tulisanDua {
        margin-top: 30px;
    }

    .tulisanTiga {
        margin: 7px 30px;
        padding: 0;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 1200px) {

    body {
        font-size: 18px;
    }

    .header-row {
        padding: 0 4%;
    }

    .header-row ul {
        margin-left: 140px;
    }

    .fotoSatu,
    .fotoDua,
    .fotoTiga {
        height: 231px;
    }
    
    .fotoEmpat {
        height: 344px;
    }
    
    .fotoLima {
        height: 344px;
        display: none;
    }
    
    .fotoEnam {
        margin: 0;
        height: 600px;
        margin-top:-50px;
        margin-left: 50px;
    }

    .tulisanSatu,
    .tulisanDua,
    .tulisanTiga {
        font-size: 15px;
        margin: 0;
        justify-content: center;
        text-align: justify;
        margin: 10px 30px
    }

    .tulisanSatu {
        margin-top: 60px;
    }

    .tulisanDua {
        margin-top: 20px;
    }

    .tulisanTiga {
        font-size: 15px;
        margin: 7px 30px;
        padding: 0 4%;
        margin-top: 40px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    body {
        font-size: 17px;
    }
    
    .header-row {
        padding: 0 4%;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
    }

    .header-row ul {
        font-size: 18px;
        margin-left: 0;
    }

    .row {
        width: 100%;
    }

    .col {
        width: 100%;
    }

    .fotoSatu,
    .fotoTiga,
    .fotoEmpat,
    .fotoLima {
        width: 512px;
        height: auto;
    }

    .fotoLima {
        margin-bottom: 30px;
    }

    .fotoDua {
        display: none;
    }

    .tulisanSatu,
    .tulisanDua,
    .tulisanTiga {
        margin: 30px 60px;
    }

    .tulisanSatu {
        margin-top: 80px;
    }

    .tulisanDua {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .tulisanTiga {
        padding: 0;
    }
}

@media screen and (max-width: 768px) and (min-width: 541px) {
    
    body {
        font-size: 17px;
    }
    
    .header-row {
        padding: 0 4%;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        height: 300px;
    }

    .header-row ul {
        font-size: 16px;
        margin-left: 0;
    }

    .header-row a {
        padding: 0;
        height: 300px;
        width: 200px;
        margin-top: 100px;
    }

    .logo {
        margin-top: 120px;
        height: 200px;
        display: block;
    }

    .header-row ul li {
        margin: 0 auto;
    }

    .row {
        width: 100%;
    }

    .hero-text-box {
        width: 768px;
    }

    .col {
        width: 100%;
    }

    .fotoSatu,
    .fotoTiga,
    .fotoEmpat,
    .fotoLima {
        width: 768px;
        height: auto;
        transform: scale(0.9);
        margin-top: 30px;
    }

    .fotoLima {
        margin-bottom: 30px;
    }

    .fotoDua {
        display: none;
    }

    .tulisanSatu,
    .tulisanDua,
    .tulisanTiga {
        margin: 30px 60px;
    }

    .tulisanDua {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 540px) {
    
    html {
        overflow-x: hidden;
    }

    .col {
        width: auto;
        height: 100%;
        display: block;
    }
    
    .header-row {
        padding: 0 8%;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
    }

    .logo {
        margin-top: 300px;
        margin-left: 180px;
        height: 120px;
    }

    .main-nav {
        margin-right: 60px;
        margin-top: -330px;
        display: block;
        margin-bottom: 30px;
    }

    .main-nav li {
        margin: 0;
        margin-bottom: 10px;
        display: block;
        font-size: 18px;
    }

    .hero-text-box {
        width: 414px;
        height: 300px;
        margin-top: 250px;
        padding-bottom: 50px;
    }

    .hero-text-box h1 {
        margin: 0;
        font-size: 50px;
    }

    .tulisanSatu,
    .tulisanDua,
    .tulisanTiga {
        font-size: 16px;
        width: 480px;
        text-align: center;
        text-align: justify;
    }

    .fotoSatu,
    .fotoDua {
        width: 540px;
        height: auto;
        margin-top: 30px;
    }

    .fotoTiga {
        margin: 0 auto;
        width: 540px;
        height: auto;
    }

    .fotoEmpat,
    .fotoEnam {
        width: 540px;
        height: auto;
        margin-top: 30px;
    }

    .fotoLima {
        width: 540px;
        height: auto;
        margin-bottom: 50px;
    }

    .fotoEnam {
        margin: 0;
        margin-left: 40px;
        width: 450px;
        height: auto;
    }

    footer {
        height: 300px;
    }

    footer div {
        padding: 0;
        margin: 0 auto;
    }

    .footer-row {
        width: max-content;
        padding: 0;
    }

    .footer-nav::after {
        width: 300px;
    }

    .footer-row ul li {
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 480px) {
    html {
        overflow-x: hidden;
    }

    .col {
        width: auto;
        height: 100%;
        display: block;
    }
    
    .header-row {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
    }

    .header-row ul {
        margin: 0;
        margin-top: 50px;
    }

    .logo {
        display: none;
    }

    .main-nav {
        margin-right: 60px;
        margin-top: -330px;
        display: block;
        margin-bottom: 30px;
    }

    .main-nav li {
        margin: 0;
        margin-bottom: 10px;
        display: block;
        font-size: 18px;
    }

    .hero-text-box {
        width: 414px;
        height: 300px;
        margin-top: 150px;
        padding-bottom: 50px;
    }

    .hero-text-box h1 {
        margin: 0;
        font-size: 50px;
    }

    .tulisanSatu,
    .tulisanDua,
    .tulisanTiga {
        font-size: 16px;
        width: 300px;
        text-align: center;
        text-align: justify;
    }

    .fotoSatu,
    .fotoDua {
        width: 414px;
        height: auto;
        margin-top: 30px;
    }

    .fotoTiga {
        margin: 0 auto;
        width: 414px;
        height: auto;
    }

    .fotoEmpat,
    .fotoEnam {
        width: 414px;
        height: auto;
        margin-top: 30px;
    }

    .fotoLima {
        width: 414px;
        height: auto;
        margin-bottom: 50px;
    }

    .fotoEnam {
        margin: 0;
        margin-left: 20px;
        width: 350px;
        height: auto;
    }

    footer {
        height: 300px;
    }

    footer div {
        padding: 0;
        margin: 0 auto;
    }

    .footer-row {
        width: max-content;
        padding: 0;
    }

    .footer-nav::after {
        width: 300px;
    }

    .footer-row ul li {
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 375px) {
    html {
        overflow-x: hidden;
    }

    .col {
        width: auto;
        height: 100%;
        display: block;
    }
    
    .header-row {
        padding: 0 8%;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
    }

    .logo {
        margin-top: 300px;
        margin-left: 110px;
        height: 120px;
    }

    .main-nav {
        margin-right: 60px;
        margin-top: -330px;
        display: block;
        margin-bottom: 30px;
    }

    .main-nav li {
        margin: 0;
        margin-bottom: 10px;
        display: block;
        font-size: 18px;
        margin-left: 5px;
    }

    .hero-text-box {
        width: 360px;
        height: 300px;
        margin-top: 250px;
        padding-bottom: 50px;
    }

    .hero-text-box h1 {
        margin: 0;
        font-size: 50px;
    }

    .tulisanSatu,
    .tulisanDua,
    .tulisanTiga {
        font-size: 16px;
        width: 300px;
        text-align: center;
        text-align: justify;
    }

    .fotoSatu,
    .fotoDua {
        width: 375px;
        height: auto;
        margin-top: 30px;
    }

    .fotoTiga {
        margin: 0 auto;
        width: 375px;
        height: auto;
    }

    .fotoEmpat,
    .fotoEnam {
        width: 375px;
        height: auto;
        margin-top: 30px;
    }

    .fotoLima {
        width: 375px;
        height: auto;
        margin-bottom: 50px;
    }

    .fotoEnam {
        margin: 0;
        margin-left: 20px;
        width: 300px;
        height: auto;
    }

    footer {
        height: 300px;
    }

    footer div {
        padding: 0;
        margin: 0 auto;
    }

    .footer-row {
        width: max-content;
        padding: 0;
    }

    .footer-nav::after {
        width: 300px;
    }

    .footer-row ul li {
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 360px) {
    html {
        overflow-x: hidden;
    }

    .col {
        width: auto;
        height: 100%;
        display: block;
    }
    
    .header-row {
        padding: 0 8%;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
    }

    .logo {
        margin-top: 300px;
        margin-left: 100px;
        height: 120px;
    }

    .main-nav {
        margin-right: 60px;
        margin-top: -330px;
        display: block;
        margin-bottom: 30px;
    }

    .main-nav li {
        margin: 0;
        margin-bottom: 10px;
        display: block;
        font-size: 18px;
    }

    .hero-text-box {
        width: 360px;
        height: 300px;
        margin-top: 250px;
        padding-bottom: 50px;
    }

    .hero-text-box h1 {
        margin: 0;
        font-size: 50px;
    }

    .tulisanSatu,
    .tulisanDua,
    .tulisanTiga {
        font-size: 16px;
        width: 300px;
        text-align: center;
        text-align: justify;
    }

    .fotoSatu,
    .fotoDua {
        width: 360px;
        height: auto;
        margin-top: 30px;
    }

    .fotoTiga {
        margin: 0 auto;
        width: 360px;
        height: auto;
    }

    .fotoEmpat,
    .fotoEnam {
        width: 360px;
        height: auto;
        margin-top: 30px;
    }

    .fotoLima {
        width: 360px;
        height: auto;
        margin-bottom: 50px;
    }

    .fotoEnam {
        margin: 0;
        margin-left: 20px;
        width: 300px;
        height: auto;
    }

    footer {
        height: 300px;
    }

    footer div {
        padding: 0;
        margin: 0 auto;
    }

    .footer-row {
        width: max-content;
        padding: 0;
    }

    .footer-nav::after {
        width: 300px;
    }

    .footer-row ul li {
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 320px) {
    html {
        overflow-x: hidden;
    }

    .col {
        width: auto;
        height: 100%;
        display: block;
    }
    
    .header-row {
        padding: 0 8%;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
    }

    .logo {
        margin-top: 250px;
        margin-left: 90px;
        height: 120px;
    }

    .main-nav {
        margin-right: 0;
        margin-top: -330px;
        display: block;
        margin-bottom: 30px;
        margin-left: 10px;
    }

    .main-nav li {
        margin: 0;
        margin-bottom: 10px;
        display: block;
        font-size: 18px;
    }

    .hero-text-box {
        width: 320px;
        height: 300px;
        margin-top: 250px;
        padding-bottom: 50px;
    }

    .hero-text-box h1 {
        margin: 0;
        font-size: 50px;
    }

    .tulisanSatu,
    .tulisanDua,
    .tulisanTiga {
        font-size: 16px;
        width: 250px;
        text-align: center;
        text-align: justify;
    }

    .fotoSatu,
    .fotoDua {
        width: 320px;
        height: auto;
        margin-top: 30px;
    }

    .fotoTiga {
        margin: 0 auto;
        width: 320px;
        height: auto;
    }

    .fotoEmpat,
    .fotoEnam {
        width: 320px;
        height: auto;
        margin-top: 30px;
    }

    .fotoLima {
        width: 320px;
        height: auto;
        margin-bottom: 50px;
    }

    .fotoEnam {
        margin: 0;
        margin-left: 20px;
        width: 300px;
        height: auto;
    }

    footer {
        height: 300px;
    }

    footer div {
        padding: 0;
        margin: 0 auto;
    }

    .footer-row {
        width: max-content;
        padding: 0;
    }

    .footer-nav::after {
        width: 300px;
    }

    .footer-row ul li {
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 280px) {
    html {
        overflow-x: hidden;
    }

    .col {
        width: auto;
        height: 100%;
        display: block;
    }
    
    .header-row {
        padding: 0 8%;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
    }

    .logo {
        margin-top: 250px;
        margin-left: 80px;
        height: 120px;
    }

    .main-nav {
        margin-right: 0;
        margin-top: -330px;
        display: block;
        margin-bottom: 30px;
        margin-left: 10px;
    }

    .main-nav li {
        margin: 0;
        margin-bottom: 10px;
        display: block;
        font-size: 18px;
    }

    .hero-text-box {
        width: 280px;
        height: 300px;
        margin-top: 250px;
        padding-bottom: 50px;
    }

    .hero-text-box h1 {
        margin: 0;
        font-size: 40px;
    }

    .tulisanSatu,
    .tulisanDua,
    .tulisanTiga {
        margin: 0 auto;
        margin-left: 15px;
        margin-top: 20px;
        font-size: 16px;
        width: 250px;
        text-align: center;
        text-align: justify;
    }

    .tulisanDua,
    .tulisanTiga {
        margin-bottom: 20px;
    }

    .fotoSatu,
    .fotoDua {
        width: 280px;
        height: auto;
        margin-top: 30px;
    }

    .fotoTiga {
        margin: 0 auto;
        width: 280px;
        height: auto;
    }

    .fotoEmpat,
    .fotoEnam {
        width: 280px;
        height: auto;
        margin-top: 30px;
    }

    .fotoLima {
        width: 280px;
        height: auto;
        margin-bottom: 50px;
    }

    .fotoEnam {
        margin: 0;
        width: 280px;
        height: auto;
    }

    footer {
        height: 300px;
    }

    footer div {
        padding: 0;
        margin: 0 auto;
    }

    .footer-row {
        width: max-content;
        padding: 0;
    }

    .footer-nav::after {
        width: 250px;
    }

    .footer-row ul li {
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
}